body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*background-image: url("assets/images/backs/friendlyDragons.jpg") !important;*/
    background-size: contain;
    background-position: center center;
    background-attachment: fixed !important;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    user-select: none !important;
    font-weight: 500 !important;
    color: white !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
