.zoom {
  position: fixed !important;
  bottom: 10px;
  min-width: 40px !important;
  min-height: 40px !important;
  height: 40px !important;
  width: 40px !important;

  @media (max-width: 500px) {
    display: none !important;
  }
}