.field {
  width: 600px;
  display: grid;
  border: 5px solid #ababab;
  margin: 100px auto;
  box-sizing: border-box;
}

.nine {
  grid-template-columns: repeat(6, 1fr);
}

.sixty {
  grid-template-columns: repeat(9, 1fr);
}

.twentyFive {
  grid-template-columns: repeat(25, 1fr);
}