.item {
  background-color: grey;
  border: 5px solid #ababab;
  box-sizing: border-box;
}

.nine {
  height: 100px;
}

.sixty {
  height: 66px;
}

.twentyFive {
  height: 24px;
}

.friendly {
  background-color: greenyellow;
}

.aggressive {
  background-color: red;
}