.item {
  background-color: grey;
  border: 5px solid #ababab;
  box-sizing: border-box;
}

.beforeClick{
  border: 2px solid black;
  background-color: grey;
}

.friendly {
  background-color: greenyellow;
}

.aggressive {
  background-color: red;
}